/* body{
    overflow: auto;
}
h2{
    animation-name: iam;
    animation-duration: 1s;
    animation-delay: 0ms;
}
@keyframes iam {
     from{
        transform: translatex(-20%);
     }
     to{
        transform: translatex(0%);
     }
}
div{
    animation: name 1s  0ms 1  ;
}
@keyframes name {
    from{
        transform: translateY(-10vh);
    }
    to{
        transform: translateY(0);
    }
    
}
 .testimonials{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0 50%;
    border-radius: 1rem;
 }
 .cards1,.cards2,.cards3,.cards4,.cards5{
    height: 400px;
    width: 400px;
    align-self: center;
    background: linear-gradient(rgba(23, 153, 121, 0.777),rgba(180, 177, 177, 0.726),black,rgba(11, 11, 187, 0.586)),url("nature.png") ;
    object-fit: contain;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    align-content: center;
    border-radius: 1rem;
    color: white;
    padding: 2rem 4rem;
    margin: 0 2rem;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0, 0, 0, 0.232));

 }
 .cards1{
    animation: cards1y 1 ease-in-out 0s 1;    
 }
 
 .cards2{
    animation: cards1y 1 ease-in-out 1s 1;    
 }
 .cards3{
    animation: cards1y 1 ease-in-out 2s 1;    
 }
 .cards4{
    animation: cards1y 1 ease-in-out 3s 1;    
 }

 .btn{
    float: left;
 }
 .pagination{
    margin-top:4rem ;
 }
 .pagination a{
    border-radius: 1rem;
    background-color: grey;
    color: white;
    padding: 2rem;
    font-size: 2rem;
    text-decoration: none;
    float: left;
 }
 
.pagination a:hover:not(.active){
    background-color: #ddd;
}
 .pagination a:active{
    border-radius: 1rem;
    background-color: #4Caf50;
    color: white;
 }
 a:active{
    background-color: red;
 }
 .btn:active{
    background-color: #4Caf50;
 }

 @keyframes cards1Y {
    from{
        transform: translateY(-100vh);
    }
    to{
        transform: translateY(0);
    }
    
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: sans-serif;
    color: #080808;
    background: linear-gradient(110deg,#09080e 0%,#010811 100%);
}
.container{
    position: relative;
    width: 800px;
    min-width: 350px;
    min-height: 250px;
    padding-bottom: 40px;

    overflow: hidden;
}
.wrapper{
    width: 300%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
}
.card{
    width: 800px;
    min-height:100%;
    background:#fff ;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0 0  0 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 10px;
}
.card-thumb{
    width: 70%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}
.client-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.client-name{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 5px 20px;
    background: #fff;
    /* text-transform: capitalize; */
    font-size: 14px;
}
.card-body{
    width: 120%;
    min-height: 100%;
    height: auto;
    margin-left: 20px;
    position: relative;
    padding-bottom: 50px;

}
.review{
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
}
.rating{
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star{
    width: 25px;
    margin-right: 5px;

}
.indicators{
    position:absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}
.indicators button{
    background: none;
    border: none;
    outline: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    margin-left: 5px;
    transition: .5s;
}

button.active{
    width: 40px;
    border-radius: 50px;
    background: #fff;
}

@media (max-width:880px) {
    .container{
        width: 50%;
        margin: auto;

    }
    .card{
        flex-direction: column;
    }
    .card-thumb{
        width: 100%;
        border-radius: 10px;
    }
    .card-body{
        width: 100%;
        min-height: auto;
        margin-left: 0;

    }
}